.places {
  max-width: 984px;
  padding: 46px 148px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .places {
    padding: 46px 48px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .places {
    padding: 44px 24px;
  }
}

@media (max-width: 767px) {
  .places {
    padding: 32px 0px;
  }
}
