.header {
  max-width: 1280px;
  height: calc(52px + 28px * 2);
  padding: 28px 48px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .header {
    max-width: 1024px;
    padding: 28px 48px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: 768px;
    padding: 28px 24px;
  }
}

@media (max-width: 767px) {
  .header {
    max-width: 320px;
    height: calc(42px + 16px * 2);
    padding: 16px 16px;
  }
}
