.lead__title {
  max-width: 720px;
  margin: 0px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media  (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
/*для корректного отображения на экранах менее 319px*/
@media (max-width: 319px) {
  .lead__title {
    max-width: calc(100% - 18px * 2);
    font-size: 20px;
    line-height: 1.5;
  }
}
