.intro {
  max-width: 690px;
  margin-left: 100px;
}

@media (max-width: 1024px) {
  .intro {
    margin-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .intro {
    max-width: 288px;
  }
}
