.footer {
  max-width: 1280px;
  margin: auto;
  padding: 46px 48px 24px;
  display: flex;
  gap: 18px;
  justify-content: space-between;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    padding: 44px 24px 24px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 520px;
    flex-direction: column;
    padding: 34px 100px 24px 16px;
  }
}

@media (max-width: 520px) {
  .footer {
    max-width: 186px;
  }
}
