.footer {
  max-width: 1184px;
  padding: 46px 0px 24px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .footer {
    max-width: 720px;
    padding-top: 44px;
  }
}

@media (max-width: 767px) {
  .footer {
    max-width: 520px;
    flex-direction: column;
    gap: 48px;
    padding-top: 32px;
  }
}

@media (max-width: 520px) {
  .footer {
    max-width: 186px;
    padding-right: 100px;
  }
}
